body {
    background-color: #f0eff2;
    margin: 0;
}

.request-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.list-title {
    margin-bottom: 25px;
    border-left: 5px solid #000;
    padding-left: 15px;
    background-color: transparent;
}

.list-title h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.request-table thead tr {
    background-color: #ffffff;
}

.request-table th {
    padding: 10px 15px;
    background-color: #ffffff;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.request-table th:first-child {
    border-top-left-radius: 8px;
}

.request-table th:last-child {
    border-top-right-radius: 8px;
}

.table-container {
    overflow-x: auto;
}

.request-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
}

.request-table td {
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #374151;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}

.request-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.request-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.text-detail {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.text-detail:hover {
    text-decoration: underline;
}

.request-table th:nth-child(1),
.request-table td:nth-child(1) {
    width: 30%;
}

.request-table th:nth-child(2),
.request-table td:nth-child(2) {
    width: 50%;
}

.request-table th:nth-child(3),
.request-table td:nth-child(3) {
    width: 20%;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .request-page {
        padding: 0 10px;
    }

    .request-table th,
    .request-table td {
        padding: 10px 5px;
        font-size: 13px;
    }

    .request-table th:nth-child(1),
    .request-table td:nth-child(1) {
        width: 35%;
    }
    .request-table th:nth-child(2),
    .request-table td:nth-child(2) {
        width: 45%;
    }
    .request-table th:nth-child(3),
    .request-table td:nth-child(3) {
        width: 20%;
    }

    .request-table td:nth-child(2) {
        word-break: break-all;
    }
}

@media screen and (min-width: 1400px) {
    .request-page {
        max-width: 1000px;
    }

    .request-table th,
    .request-table td {
        padding: 15px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .request-page {
        padding: 0 10px;
    }

    .table-container .request-table td:nth-child(1),
    .table-container .request-table td:nth-child(2),
    .table-container .request-table td:nth-child(3) {
        width: 100%;
        text-align: right;
    }

    .table-container .request-table td:nth-child(2) {
        word-break: break-all;
    }
}
