.login-form_content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 15px;
}

.login-form_heading {
    margin-bottom: 20px;
    text-align: center;
}

.login-form_heading h1{
    font-size:24px;
}

.form_label-item{
    font-size:16px;
    font-weight: bold;
}

.form {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.form_group {
    margin-bottom: 5px;
}

.form_group-title {
    text-align: left;
}

.form_error-main {
    color: #ff0000;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    list-style: none;
}

.form_error {
    min-height: 20px;
    margin-bottom: 5px;
    color: red;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
}

.form_input-text input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form_button {
    margin-top: 20px;
}
.form_button-submit {
    box-sizing: border-box;
    background-color: black;
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.register_link {
    margin-top: 20px;
    text-align: center;
}

.register_button-submit{
text-decoration: none;
font-size: 16px;
color:skyblue;
}
